<div class="card">
    <form (ngSubmit) = "onSaveChanges(credentialsForm)" #credentialsForm = "ngForm">
        <div class="card-header">
        <h5 class = "mt-2 card-title">Trello's Credentials</h5>
        <button type = "submit" class = "btn btn-outline-success card-header-button">
            Save changes
        </button>
        </div>
        <div class="card-body">
            <h5 class="card-title">Current credentials</h5>
            <p class="card-text">
                <b>App key: </b><br>{{ credentials.key }}
                <br>
                <b>Token: </b><br>{{ credentials.token }}
            </p>
            <hr/>
            <h5 class="card-title">Change credentials</h5>
            <br>
            <b>New App key <span class="mandatory-field">*</span></b>
            <input 
                type = "text"
                class = "form-control"
                [value] = "credentials.key"
                name = "key"
                [ngModel] = "credentials.key"
                placeholder = "Insert the new app key here"
                required/>
            <br>
            <b>New Token <span class="mandatory-field">*</span></b>
            <input 
                type = "text"
                class = "form-control"
                [value] = "credentials.token"
                name = "token"
                [ngModel] = "credentials.token"
                placeholder="Insert the new app token here"
                required/>
            <br>
        </div>
    </form>
</div>